https://pandas.pydata.org/docs/user_guide/

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Create datafarame
data=pd.DataFrame({"A":[1,2,3,4,5]})

**Series**: a one-dimensional labeled array holding of any type

**DataFrame**: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns

In [3]:
#Series
s = pd.Series([1,2,3,4,np.nan,6,7,8])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    7.0
7    8.0
dtype: float64

In [4]:
#DataFrame
dates = pd.date_range("20240413", periods=10)
dates

DatetimeIndex(['2024-04-13', '2024-04-14', '2024-04-15', '2024-04-16',
               '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-20',
               '2024-04-21', '2024-04-22'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2024-04-13 -0.459456 -1.318821 -1.557754 -1.640527
2024-04-14 -0.112422 -0.873378  1.482003 -0.868010
2024-04-15 -0.177047  0.535503  0.591902  0.388036
2024-04-16  1.394894 -0.624236  0.011277  0.649588
2024-04-17  0.565826  0.106389  0.139986 -0.125908
2024-04-18 -1.540959  0.621135  0.016776  1.357825
2024-04-19 -0.464022 -0.055908  1.221340 -1.430351
2024-04-20 -0.055263  0.850412 -0.209006  2.374678
2024-04-21  0.594649 -0.977589  1.211981 -0.444435
2024-04-22  0.828900 -0.689154  0.994029 -0.009597

Creating a **DataFrame** by passing a dictionary of objects where the keys are the column labels and the values are the column values.

In [6]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20231010"),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3] * 4, dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"]),
        "F":"foo"
    }
)

df2

     A          B    C  D      E    F
0  1.0 2023-10-10  1.0  3   test  foo
1  1.0 2023-10-10  1.0  3  train  foo
2  1.0 2023-10-10  1.0  3   test  foo
3  1.0 2023-10-10  1.0  3  train  foo

In [7]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object