***Missing data***

In [1]:
%run 3-Selection.ipynb

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

df1.loc[dates[0] : dates[1], "E"] = 1

df1

                   A         B         C    D    E
2024-04-13  0.000000  0.754170  0.689206  5.0  1.0
2024-04-14 -0.399042  1.996191 -2.165698  5.0  1.0
2024-04-15  0.421794  1.324862  1.279009  5.0  NaN
2024-04-16 -0.084248  1.036506  5.000000  5.0  NaN

In [4]:
df1.dropna(how="any")

                   A         B         C    D    E
2024-04-13  0.000000  0.754170  0.689206  5.0  1.0
2024-04-14 -0.399042  1.996191 -2.165698  5.0  1.0

In [5]:
df1.fillna(value=5)

                   A         B         C    D    E
2024-04-13  0.000000  0.754170  0.689206  5.0  1.0
2024-04-14 -0.399042  1.996191 -2.165698  5.0  1.0
2024-04-15  0.421794  1.324862  1.279009  5.0  5.0
2024-04-16 -0.084248  1.036506  5.000000  5.0  5.0

In [6]:
pd.isna(df1)

                A      B      C      D      E
2024-04-13  False  False  False  False  False
2024-04-14  False  False  False  False  False
2024-04-15  False  False  False  False   True
2024-04-16  False  False  False  False   True