**Operations**

In [1]:
%run 4-missingData.ipynb

In [2]:
import pandas as pd
import numpy as np

In [3]:
df.mean()

A   -0.270564
B   -0.038150
C    0.884475
D    5.000000
dtype: float64

In [4]:
df.mean(axis=1)

2024-04-13    1.969612
2024-04-14    0.773029
2024-04-15    0.877690
2024-04-16    2.500127
2024-04-17    1.371973
2024-04-18    1.422594
2024-04-19    1.009031
2024-04-20    1.614528
2024-04-21    1.167378
2024-04-22    1.233441
Freq: D, dtype: float64

In [5]:
s=pd.Series([1, 3, 5, np.nan, 6, 8, 3 ,1 ,4,81], index=dates).shift(2)
s

2024-04-13    NaN
2024-04-14    NaN
2024-04-15    1.0
2024-04-16    3.0
2024-04-17    5.0
2024-04-18    NaN
2024-04-19    6.0
2024-04-20    8.0
2024-04-21    3.0
2024-04-22    1.0
Freq: D, dtype: float64

In [6]:
df.sub(s, axis="index")

                   A         B         C    D
2024-04-13       NaN       NaN       NaN  NaN
2024-04-14       NaN       NaN       NaN  NaN
2024-04-15 -1.361555 -1.602380 -1.525306  4.0
2024-04-16 -3.203990 -2.795503  2.000000  2.0
2024-04-17 -3.405771 -5.000000 -6.106339  0.0
2024-04-18       NaN       NaN       NaN  NaN
2024-04-19 -7.534835 -5.550076 -5.878966 -1.0
2024-04-20 -7.939097 -8.858014 -5.744777 -3.0
2024-04-21 -4.251836 -2.294363 -2.784286  2.0
2024-04-22 -0.905690 -1.451542 -0.709003  4.0

In [7]:
df.agg(lambda x: np.mean(x) * 5.6)

A    -1.515161
B    -0.213639
C     4.953060
D    28.000000
dtype: float64

In [8]:
df.transform(lambda x: x * 101.2)

                     A           B           C      D
2024-04-13    0.000000  181.630232  109.668587  506.0
2024-04-14  -78.936783  -85.547503  -28.593516  506.0
2024-04-15  -36.589367  -60.960819  -53.160994  506.0
2024-04-16  -20.643748   20.695098  506.000000  506.0
2024-04-17  161.336001    0.000000 -111.961505  506.0
2024-04-18  -32.673720  -78.840307  181.379936  506.0
2024-04-19 -155.325265   45.532341   12.248661  506.0
2024-04-20    6.163351  -86.831055  228.228522  506.0
2024-04-21 -126.685851   71.410427   21.830225  506.0
2024-04-22    9.544139  -45.696054   29.448853  506.0

In [9]:
s = pd.Series(np.random.randint(0,7, size=10))
s

0    3
1    5
2    2
3    3
4    6
5    2
6    3
7    4
8    4
9    2
dtype: int32

In [10]:
s.value_counts()

3    3
2    3
4    2
5    1
6    1
Name: count, dtype: int64

In [11]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object