***Grouping***

In [1]:
%run 6-Merge.ipynb

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

df

     A      B         C         D
0  foo    one  0.188314  0.902696
1  bar    one -1.966056  0.043902
2  foo    two  0.207431  0.031428
3  bar  three  0.398642 -1.515582
4  foo    two -1.257361 -0.705500
5  bar    two -0.055465  1.657694
6  foo    one  2.250728 -0.560842
7  foo  three -0.073570  0.144401

In [4]:
df.groupby("A")[["C","D"]].sum()

            C         D
A
bar -1.622880  0.186014
foo  1.315542 -0.187817

In [5]:
df.groupby(["A","B"]).sum()

                  C         D
A   B
bar one   -1.966056  0.043902
    three  0.398642 -1.515582
    two   -0.055465  1.657694
foo one    2.439043  0.341853
    three -0.073570  0.144401
    two   -1.049930 -0.674071